<h1>Welcome to Flaxipedia</h1>
<p>Flaxipedia is being created by Devon Henegar with his Bloc mentor as part of a project designed to help him learn Ruby on Rails, the project is commonly known as blocipedia</p>
