<div class="jumbotron page-header">
  <h1>Flaxipedia</h1>
  <p>Flaxipdedia is the place to come for information on the world of Flax as authored by D.M. Henegar</p>
  <p><%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
</div>
